/*! Kleurenpalet */
.text-grey {
  color: #f0f1f2;
}

.text-blue {
  color: #007bff;
}

.text-dark-blue {
  color: #133340;
}
/*! Button aangepast*/
.custom-submit-button {
  background-color: #007bff; 
  color: #f0f1f2;
  border-color: #007bff; 
}

.custom-submit-button:hover {
  background-color: #133340; 
  color: #f0f1f2;
  border-color: #133340; 
}